<section class="outros">
    <h1 class="titleoutros">OUTROS</h1>
    <div class="quadradosoutros-container">
        <div class="quadradooutros">
            <a href="" class="link-para-manchete">
            <h1>DEMOCRACIA</h1>
            <p>A democracia é a base para a oportunidade de todos. Nossa cidade necessita de um desenvolvimento democrático.</p>
            </a>
        </div>
        <div class="quadradooutros">
            <a href="" class="link-para-manchete">
            <h1>DEMOCRACIA</h1>
            <p>A democracia é a base para a oportunidade de todos. Nossa cidade necessita de um desenvolvimento democrático.</p>
            </a>
        </div>
        <div class="quadradooutros">
            <a href="" class="link-para-manchete">
            <h1>DEMOCRACIA</h1>
            <p>A democracia é a base para a oportunidade de todos. Nossa cidade necessita de um desenvolvimento democrático.</p>
            </a>
        </div>
        <div class="quadradooutros">
            <a href="" class="link-para-manchete">
            <h1>DEMOCRACIA</h1>
            <p>A democracia é a base para a oportunidade de todos. Nossa cidade necessita de um desenvolvimento democrático.</p>
            </a>
        </div>
        <div class="quadradooutros">
            <a href="" class="link-para-manchete">
            <h1>DEMOCRACIA</h1>
            <p>A democracia é a base para a oportunidade de todos. Nossa cidade necessita de um desenvolvimento democrático.</p>
            </a>
        </div>
        <div class="quadradooutros">
            <a href="" class="link-para-manchete">
            <h1>DEMOCRACIA</h1>
            <p>A democracia é a base para a oportunidade de todos. Nossa cidade necessita de um desenvolvimento democrático.</p>
            </a>
        </div>
        <div class="quadradooutros">
            <a href="" class="link-para-manchete">
            <h1>DEMOCRACIA</h1>
            <p>A democracia é a base para a oportunidade de todos. Nossa cidade necessita de um desenvolvimento democrático.</p>
            </a>
        </div>
        <div class="quadradooutros">
            <a href="" class="link-para-manchete">
            <h1>DEMOCRACIA</h1>
            <p>A democracia é a base para a oportunidade de todos. Nossa cidade necessita de um desenvolvimento democrático.</p>
            </a>
        </div>

    </div>
</section>

<secition class="tudo">
    <div class="noticia" style="background-image: url('{{ linkimagem }}')">
        <a href="" class="link-para-manchete">
        <h1>Titulo da Notícia</h1>
        <p>Há 4 horas</p>
    </a>
    </div>
